.nv-legend { fill:#FFF;}
.nv-y.nv-axis text { display:none; }
text { fill:#FFF !important;}

/**********************************************************************************************************************/
/* PAGE STYLING                                                                                                       */
/**********************************************************************************************************************/
body { background:url('/static/images/background_page.png') top center repeat-y  #21262C;}

#header { background-color:#1d2228; height:99px; }
#header #header_right { float:right; height:99px; background:url('/static/images/header_right.png') right; width:552px; }
#header #header_left { float:left; height:99px; background:url('/static/images/header_left.png'); width:520px; }
#header #header_center { height:99px; background:url('/static/images/header_center.png'); width:189px; margin:0 auto;}

#section_one {}
#questions_block .question { display:inline-block; width: 140px; height: 47px; margin:5px; padding:10px;  white-space: normal;  vertical-align: top; cursor: pointer; background-image:url('/static/images/callout_dark.png'); background-size:100%; color:#BBB; }
#questions_block .question .title { text-align:center; font-size:90%; font-weight:bold; }
#questions_block .question.hover { background-image:url('/static/images/callout_dark_selected.png'); color:#FFF;}
#questions_block .ui-widget-content { background:none; border:none; }

#section_two { width:1100px; margin:20px auto; }
#chart_area_one { float:left;}
#chart_area_two { float:right;}
.chart_area_container { background-color:#1d2228; border:1px solid #555; width:540px; }
.chart_area_container .questions { width:180px; height:355px; float:left; }
.chart_area_container .questions .questions_list { margin-top:70px;}
.chart_area_container .questions .question_container { display:inline-block; width: 140px; height: 47px; margin:20px 10px; padding:10px;  white-space: normal;  vertical-align: top; cursor: pointer; background-image:url('/static/images/callout_dark_selected.png'); background-size:100%; color:#BBB; }
.chart_area_container .questions .question_container .title { font-size:90%; font-weight:bold; text-align:center; color:#FFF; }
.chart_area_container .chart { width:355px; height:355px; float:right; text-align:center;}
.chart_area_container .filters { height:100px; }

/* 
MetaLayer.com Styles - Base.css
Author: Jon Gosier (jongosier.com)
Copyright: MetaLayer Inc.
URL: http://metalayer.com
*/

/**********************************************************************************************************************/
/* BASIC ELEMENT STYLING                                                                                              */
/**********************************************************************************************************************/
body {  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
html { font-size: 80%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
a { cursor:pointer; text-decoration:none; color:inherit; }
a:hover { text-decoration:none; }


/**********************************************************************************************************************/
/* SITE WIDE UTILITY CLASSES                                                                                          */
/**********************************************************************************************************************/
.left { float:left; }
.right { float:right; }
.center.one_third { padding-left:33%;}
.one_half { width:49%; }
.one_third { width:33%; }
.two_thirds { width:66%; }
.fill_width { width:100%; }


/* GENERIC ERROR STYLING */
.errors { margin:10px 0; font-size: 100%; }
.errors .errors_inner { padding: 10px; }



/* GENERIC SECTION STYLING */
.section {  }
.section .section_header { padding:10px; }
.section .section_header .section_actions { float:right; }
.section .section_body { padding:10px; border:1px solid #AAA; border-top: none; }
.section .section_body .loading { text-align: center; }
.section .section_info { font-style: italic; }



/* GENERIC DIALOG STYLING */
.dialog { display:none; }
.dialog .loading { text-align: center; margin-top: 10%; }



/* GENERIC IMAGE BUTTON STYLING */
.image_button_small { display:inline-block; }
.image_button_small span { width:18px; height:18px;  }


/* GENERIC FORM STYLING */
form .form_row { margin:10px 0; }
form .form_row label { display:inline-block; width: 47%;}
form .form_row input { display:inline-block; width: 47%; padding:5px 2px !important;}
form .form_row .button { display:inline-block; width: 46%;}
form .form_row textarea { width:98%; height:70px;}
form .form_row .help { font-size:80%; font-style: italic;}


/* GENERIC UL HORIZONTAL MENU STYLING */
ul.menu li { display: inline-block; }



