#legend { width:200px; border:1px solid #555 !important; }
#legend .title { display:inline-block; line-height:18px; vertical-align:middle; width:95%; padding:2px; }
#globe_and_question_container { width:1200px; margin:30px auto 10px; }
#question_and_legend { }
#question_and_legend #instructions { margin-bottom:10px; width:200px;  }
#question_and_legend #instructions h3 { font-size:200%; color:#888; }
#question_and_legend #instructions p { color:#555; padding:10px 0;}
#question_and_legend #question_container { width: 140px; height: 47px; margin:20px 10px; padding:10px;  white-space: normal;  vertical-align: top; background-image:url('/static/images/callout_dark_selected.png'); background-size:100%; color:#BBB; float:left; }
#question_and_legend #question_container .title { font-size:80%; font-weight:bold; text-align:center; color:#FFF; }
#question_and_legend #question_container.drop_active { background-image:url('/static/images/callout_dark_selected_hover.png'); }
#legend { display:none; float:left; margin-left: 50px; border: 2px solid #bbb; padding: 2px; }
#globe_container { width:1000px;}
#globe_waiting { position:relative; top:230px; display:none;}


#gallery_container { width:1100px; margin:20px auto; }
#gallery_container #gallery { overflow:auto; margin-top:20px;}
#gallery_container #gallery.small { height:200px; }
#gallery_container #gallery.large { height:500px;}
#gallery_container #gallery li { float:left; color:#DDD; text-align:center; height:180px; overflow:hidden; cursor:pointer; margin:5px; border:1px solid #555; width:200px;}
#gallery_container #gallery li .title { height:15px; overflow:hidden; font-weight:bold; }
#gallery_container #gallery li .author { height:15px; overflow:hidden; }

#gallery_container #focus { background-color:#1d2228; padding:10px 0; width:800px; margin:10px auto 0; border:1px solid #555;}
#gallery_container #focus.small { display:none;}
#gallery_container #focus #focus_image_container { width:614px; height:453px; text-align: center; margin:0 auto; }
#gallery_container #focus #focus_image_loading { position:relative; top:206px; }
#gallery_container #focus #focus_image { width:614px; height:453px; border:1px solid #555;}
#gallery_container #focus #focus_actions { width:700px; margin:20px auto 10px;}
#gallery_container #focus #focus_actions #focus_actions_save_or_delete { float:right;}
#gallery_container #focus #focus_actions #focus_email { float:left; }
#gallery_container #focus #focus_actions #focus_email input[type=email] { padding:5px; position:relative; top:-1px; width:200px;}

.legend_entry { margin-bottom: 5px; margin-top: 7px; margin-left: 3px; margin-right: 3px; }
.rect {
    width: 10px;
    height: 10px;
    background:
        #fff,
        white,
        hsl(0,0,100%),
        rgb(100%, 100%, 100%),
        rgba(255,255,255,255),
        -webkit-linear-gradient(white,white,white),
        -webkit-radial-gradient(circle,white,white),
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAA1BMVEX///+nxBvIAAAADUlEQVR42gECAP3/AAAAAgABUyucMAAAAABJRU5ErkJggg==);
}
.nv-legend { fill:#FFF;}
.nv-y.nv-axis text { display:none; }
text { fill:#FFF !important;}
.jqplot-data-label { color:#FFF; text-shadow: 2px 2px 2px #000;}
.jqplot-highlighter-tooltip { color:#FFF; background:#1d2228; font-size:120%;  border:none; z-index: 100 !important; }

/**********************************************************************************************************************/
/* PAGE STYLING                                                                                                       */
/**********************************************************************************************************************/
body { background:url('/static/images/background_page.png') top center repeat-y  #21262C;}

#header { background-color:#1d2228; height:99px; }

#header #header_right { float:right; height:99px; background:url('/static/images/header_right.png') right; width:552px; }
#header #header_left { float:left; height:99px; background:url('/static/images/header_left.png'); width:520px; }
#header #header_center { height:99px; background:url('/static/images/header_center.png'); width:189px; margin:0 auto; background-position:center -10px;}
#navigation_container { padding-top:82px; }
#navigation { width:110px; margin:0 auto; }
#navigation li { display:inline-block;  width:50px; text-align:center;}
#navigation li.first { }
#navigation li a { color:#AAA; font-weight:bold; font-size:110%;}
#navigation li a:hover { color:#FFF;}

#section_one {}
#questions_block .question { display:inline-block; width: 140px; height: 47px; margin:5px; padding:10px;  white-space: normal;  vertical-align: top; cursor: pointer; background-image:url('/static/images/callout_dark.png'); background-size:100%; color:#BBB; }
#questions_block .question .title { text-align:center; font-size:80%; font-weight:bold; }
#questions_block .question.hover { background-image:url('/static/images/callout_dark_selected.png'); color:#FFF;}
#questions_block .ui-widget-content { background:none; border:none; }

#section_two { width:1160px; margin:20px auto; }

#copy_container { float:left; margin:220px 0 0; width:20px; position:relative; left:24px;}
#copy_container img { cursor: pointer;}
#copy_container #copy_left_button { padding-top:10px;}

#chart_area_one { float:left;}
#chart_area_two { float:right;}
.chart_area_container { background-color:#1d2228; border:1px solid #555; width:540px; }
.chart_area_container .close_button_container { height:22px; }
.chart_area_container .close_button { float:right; position:relative; top:-12px; left:12px; width:22px; z-index:3000; display:none; cursor:pointer; }
.chart_area_container.has_data .close_button { display:block; }

.chart_area_container .questions { width:180px; height:355px; float:left; }
.chart_area_container .questions .questions_list { margin-top:120px;}
.chart_area_container .questions .question_container { display:inline-block; width: 140px; height: 47px; margin:20px 10px; padding:10px;  white-space: normal;  vertical-align: top; cursor: pointer; background-image:url('/static/images/callout_dark_selected.png'); background-size:100%; color:#BBB; }
.chart_area_container .drop_active .questions .questioncontainer { background-image:url('/static/images/callout_dark_selected_hover.png'); }
.chart_area_container .questions .question_container .title { font-size:80%; font-weight:bold; text-align:center; color:#FFF; }
.chart_area_container .chart { width:355px; height:355px; float:right; text-align:center; background:url('/static/images/blanko_large.png') center center no-repeat; }
.chart_area_container .drop_active .chart { background:url('/static/images/blanko_large_hover.png') center center no-repeat; }
.chart_area_container .filters { height:185px; }
.filters h3 { padding-left:10px; color:#555; font-size:200%; margin-top:-20px; margin-bottom: 5px;}
.filters .filters_list .filter_container { height:170px; width:150px; margin:0 10px 0 13px; display:inline-block; vertical-align: top; background:url('/static/images/blanko_small.png') center center no-repeat; background-size:85px; }
.filters .filters_list .filter_container.drop_active { background:url('/static/images/blanko_small_hover.png') center center no-repeat; }
.filters .filters_list .filter_container .title { font-size:70%; color:#FFF; border-bottom:1px solid; height:20px; overflow:hidden; text-align:center; font-weight:bold; display:none;}
.filters .filters_list .filter_container.in_use { border:none;}
.filters .filters_list .filter_container.in_use .title { display:block; }
.filters .filters_list .filter_container .chart_container { height:150px; width:150px; }
.filters .filters_list .filter_container .close_button_container { height:22px; }
.filters .filters_list .filter_container .close_button { float:right; position:relative; top:-145px; left:-0px; width:22px; z-index:3000; display:none; cursor:pointer; }

#post_production { position:fixed; bottom:0px; color:#DDD; width:100%; z-index:100000; }
#post_production.active { bottom:0;}
#post_production_tab { background-color:#1d2228; padding:20px; position:relative; left:20px; bottom:-1px; border:1px solid #555; border-bottom:none; width:100px; text-align:center; font-weight:bold;
    cursor: pointer;}
#post_production_content { width:100%; margin:0 auto; background-color:#1d2228; height:200px; border:1px solid #555; display:none;}
#post_production_content h3 { color:#555; font-size:400%; padding:10px;}
#post_production_content form { width:1000px; margin:0 auto;}
#post_production_content form label { font-weight:bold; color:#AAA; font-size:150%; }
#post_production_content form .left { width:600px; }
#post_production_content form .left .form_row label { width:100px; }
#post_production_content form .left .form_row input { width:450px; }
#post_production_content form .right { width:390px; padding-top:10px;}
#post_production_content form .right table { width:100%;}
#post_production_content form .right table td { width:25%; }
#post_production_content form .right td p { display:inline; font-size:120%; position:relative; top:-2px; }
#post_production_content form .right .button { float:right; width:300px; position:relative; top:35px; right:20px;}


/*
#post_production_content form .right .radio_list { display:inline-block; }
#post_production_content form .right .radio_button { display:inline-block; width:100px; border:1px solid;}
#post_production_content form .right .radio_button p { display:inline;}
*/


/* 
MetaLayer.com Styles - Base.css
Author: Jon Gosier (jongosier.com)
Copyright: MetaLayer Inc.
URL: http://metalayer.com
*/

/**********************************************************************************************************************/
/* BASIC ELEMENT STYLING                                                                                              */
/**********************************************************************************************************************/
body {  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
html { font-size: 80%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
a { cursor:pointer; text-decoration:none; color:inherit; }
a:hover { text-decoration:none; }


/**********************************************************************************************************************/
/* SITE WIDE UTILITY CLASSES                                                                                          */
/**********************************************************************************************************************/
.left { float:left; }
.right { float:right; }
.center.one_third { padding-left:33%;}
.one_half { width:49%; }
.one_third { width:33%; }
.two_thirds { width:66%; }
.fill_width { width:100%; }


/* GENERIC ERROR STYLING */
.errors { margin:10px 0; font-size: 100%; }
.errors .errors_inner { padding: 10px; }



/* GENERIC SECTION STYLING */
.section {  }
.section .section_header { padding:10px; }
.section .section_header .section_actions { float:right; }
.section .section_body { padding:10px; border:1px solid #AAA; border-top: none; }
.section .section_body .loading { text-align: center; }
.section .section_info { font-style: italic; }



/* GENERIC DIALOG STYLING */
.dialog { display:none; }
.dialog .loading { text-align: center; margin-top: 10%; }



/* GENERIC IMAGE BUTTON STYLING */
.image_button_small { display:inline-block; }
.image_button_small span { width:18px; height:18px;  }


/* GENERIC FORM STYLING */
form .form_row { margin:10px 0; }
form .form_row label { display:inline-block; width: 47%;}
form .form_row input { display:inline-block; width: 47%; padding:5px 2px !important;}
form .form_row .button { display:inline-block; width: 46%;}
form .form_row textarea { width:98%; height:70px;}
form .form_row .help { font-size:80%; font-style: italic;}


/* GENERIC UL HORIZONTAL MENU STYLING */
ul.menu li { display: inline-block; }




