/**********************************************************************************************************************/
/* PAGE STYLING                                                                                                       */
/**********************************************************************************************************************/
body { background-color:#585858}

#header { background:url('/static/images/backgrond_noise.png') repeat; -moz-box-shadow: 0 10px 5px #000; -webkit-box-shadow: 0 10px 5px #000; box-shadow: 0 10px 5px #000;}
#header #header_inner { height:50px; width:1100px; margin:0 auto; }
#header #header_inner #branding { float:right; }
#header #header_inner #branding #metalayer_branding { color:#FFF; }
#header #header_inner #branding #metalayer_branding img { width:30px; position:relative; top:10px; left:10px; }

.instructions .number_container { float:left; width:48%; }
.instructions .number_container .number { background-color:#DDD; font-size:400%; display:inline-block; padding:20px; }
.instructions .instruction_message { float:right; width:48%; font-size:130%; font-style:italic; }

.section {  -moz-box-shadow: 10px 10px 5px #555; -webkit-box-shadow: 5px 5px 5px #111; box-shadow: 5px 5px 5px #111; }

#section_one {width:1000px; margin:30px auto; }
#section_one #questions_block {  background-color:#EEE; padding:10px; }
#section_one #questions_block .instructions { float:left; width:180px; }
#section_one #questions_block #questions_list_container { float:right; width:800px;}
#section_one #questions_block #questions_list_container ul {  margin: 0 auto; padding: 0; white-space: nowrap; width: 790px; overflow-x: auto; overflow-y:hidden; }
#section_one #questions_block .question { display:inline-block; width: 150px; height: 50px; margin:5px; padding:15px;  white-space: normal;  vertical-align: top; text-align:center; cursor: pointer; background-color:#ddd; }
#section_one #questions_block .question.selected {  background-color:#FFF;}
#section_one #questions_block .question.hover {  background-color:#FFF;}

#section_two { width:1000px; margin:0 auto; }

#section_two #filters { background-color:#EEE; height:500px; width:390px; float:left;}

#section_two #chart_areas { width:600px; float:right; background-color:#EEE; }
#section_two #chart_areas svg { width:500px; height:500px; margin:0 auto;}



/* 
MetaLayer.com Styles - Base.css
Author: Jon Gosier (jongosier.com)
Copyright: MetaLayer Inc.
URL: http://metalayer.com
*/

/**********************************************************************************************************************/
/* BASIC ELEMENT STYLING                                                                                              */
/**********************************************************************************************************************/
body {  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
html { font-size: 80%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
a { cursor:pointer; text-decoration:none; color:inherit; }
a:hover { text-decoration:none; }


/**********************************************************************************************************************/
/* SITE WIDE UTILITY CLASSES                                                                                          */
/**********************************************************************************************************************/
.left { float:left; }
.right { float:right; }
.center.one_third { padding-left:33%;}
.one_half { width:49%; }
.one_third { width:33%; }
.two_thirds { width:66%; }
.fill_width { width:100%; }


/* GENERIC ERROR STYLING */
.errors { margin:10px 0; font-size: 100%; }
.errors .errors_inner { padding: 10px; }



/* GENERIC SECTION STYLING */
.section {  }
.section .section_header { padding:10px; }
.section .section_header .section_actions { float:right; }
.section .section_body { padding:10px; border:1px solid #AAA; border-top: none; }
.section .section_body .loading { text-align: center; }
.section .section_info { font-style: italic; }



/* GENERIC DIALOG STYLING */
.dialog { display:none; }
.dialog .loading { text-align: center; margin-top: 10%; }



/* GENERIC IMAGE BUTTON STYLING */
.image_button_small { display:inline-block; }
.image_button_small span { width:18px; height:18px;  }


/* GENERIC FORM STYLING */
form .form_row { margin:10px 0; }
form .form_row label { display:inline-block; width: 47%;}
form .form_row input { display:inline-block; width: 47%; padding:5px 2px !important;}
form .form_row .button { display:inline-block; width: 46%;}
form .form_row textarea { width:98%; height:70px;}
form .form_row .help { font-size:80%; font-style: italic;}


/* GENERIC UL HORIZONTAL MENU STYLING */
ul.menu li { display: inline-block; }


