{% extends 'base.html' %}

{% block javascript %}

{% endblock %}

{% block page %}

    <div id="choose_data">
        <h1>{{ context }} - Choose the Survey to Work With</h1>
        <ul id="data_list">
            <li class="hfobd">
                <a href="/create/hfobd" class="data">
                    <h2>The Human Face of Big Data</h2>
                    <p>A global lifestyle survey including over five million answers from over 100 countries</p>
                </a>
            </li>
        </ul>
    </div>

{% endblock %}