{% extends 'base.html' %}

{% block page_title %}MetaLayer - Globe{% endblock %}

{% block javascript %}
    <script type="text/javascript" language="JavaScript">
        var globe = null;

        $(document).ready(function(){
            $('#questions_list_container').questionlist();


            $('#question_container').droppable({
                accept:'.question',
                activeClass:'drop_active',
                drop:function(event, ui){
                    var droppable = $(this);
                    var draggable = ui.draggable;
                    var facet_name = draggable.data('facet_name');
                    var display_name = draggable.data('display_name');
                    var html = $("<p class='title'>"+display_name+"</p>");
                    droppable.html(html);
                    droppable.data('facet_name', facet_name);
                    droppable.data('display_name', display_name);
                    $('#legend').html('');
                    setTimeout(function(){ globe.render_with_data([]); }, 500);
                    //$('#globe_container').html('<img id="globe_waiting" src="/static/images/loading_1d2228.gif" />');
                    $.get('/globe/' + facet_name, function(data){
                        //$('#globe_container').html('');
                        globe.render_with_data(data.data);
                        $('#legend').html('');
                        html = '';
                        for (var x=0; x<data.legend.length; x++){
                            html += "<div class='legend_entry'><span class='swatch' style='background-color:" + legend_color(data.legend[x].color)+
                                    "'></span><span class='title' style='background-color:" + legend_color(data.legend[x].color) + ";'>" + data.legend[x].label + "</span></div>";
                        }
                        $('#legend').html(html).fadeIn();
                    });
                }
            });

            if(!Detector.webgl){
                Detector.addGetWebGLMessage();
            } else {
                globe = ML.Globe.init('globe_container');
                globe.render_with_data([]);
            }
        });

        function legend_color(color_index){
            return [
                '#FF0000', '#00FF00', '#0000FF', '#F0F000', '#60060', '#FF7000', '#905030', '#FFFFFF','#FFFFFF','#FFFFFF','#FFFFFF','#FFFFFF'
            ][color_index]
        }
    </script>
{% endblock %}

{% block page %}
    <div id="section_one">
        <div id="questions_block">
            <div id="questions_list_container">
                <ul>
                    {% for question in questions %}
                        <li class="question" data-facet_name='{{ question.facet_name }}' data-display_name='{{ question.display_name }}'>
                            <p class="title">{{ question.display_name }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="globe_and_question_container">
        <table>
            <tr>
                <td id="question_and_legend">
                    <div id="instructions">
                        <h3>The MetaLayer Globe</h3>
                        <p>This globe can show how answers to the questions above are globally distributed!</p>
                    </div>
                    <div id="question_container">

                    </div>
                    <div id="legend">
                    </div>
                </td>
                <td>
                    <div id="globe_container">

                    </div>
                </td>
            </tr>
        </table>
    </div>
{#        <div class="clearfix fill_width">#}
{#            <div id="question_and_legend">#}
{#                <div id="instructions">#}
{#                    <h3>The MetaLayer Globe</h3>#}
{#                    <p>This globe can show how answers to the questions above are globally distributed!</p>#}
{#                </div>#}
{#                <div id="question_container">#}
{##}
{#                </div>#}
{#                <div id="legend">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div id="globe_container">#}
{##}
{#        </div>#}
{% endblock %}
